.c-banner {
  --banner-padt: 1rem;
  padding-top: 20rem;
  padding-top: var(--banner-padt);
  // max-width: 700px;
  max-width: 802px;
  display: grid;
  gap: 1em;
  transition: all 400ms ease-out;
  transform: translateY(20px);
  opacity: 0;

  &.animated {
    opacity: 1;
    transform: translateY(0);
  }

  .inner {
    max-width: 802px;
    display: grid;
    gap: 1em;
  }

  .headline {
    font-family: "Playfair Display";
    font-size: clamp(1.953rem, 5vw, 3.052rem);
    font-size: clamp(1.953rem, 17vw, 6rem);
    font-weight: 600;

    &[data-style="large"] {
      font-size: clamp(1.953rem, 17vw, 8rem);
    }
  }
  .intro {
    font-size: clamp(18px, 5vw, 22px);
    font-weight: 300;
  }
}

.text-expression {
  color: var(--secondary-20);
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 500;
  text-decoration: underline;

  > i {
    display: inline-block;
    font-style: italic;
    font-size: clamp(20px, 8vw, 80px);
  }
}

.graphic {
  &[data-graphic="line-elipse-vertical"] {
    position: absolute;
    top: -35%;
    left: 70vw;
  }
  &[data-graphic="line-elipse-group"] {
    z-index: 2;
    position: absolute;
    top: 75vh; // 48
    left: -10.75vw; // -3.75

    .line-elipse-group {
      .animated {
        stroke: var(--secondary-10); // set based on state of animation

        circle {
          stroke: var(--secondary-10); // set based on state of animation
        }

        line {
          stroke: var(--secondary-10); // set based on state of animation
        }
      }
    }
  }
}
