.c-cta {
  inline-size: max-content;
  padding: 1rem 2rem;
  font-size: clamp(18px, 5vw, 1.375rem);

  &[data-variant="link"] {
    display: inline-block;
    font-weight: 500;
    line-height: 30px;
    padding: 0;
    text-decoration: underline;
    text-transform: uppercase;
    transition: all 400ms ease-out;
  }
  &[data-variant="primary"] {
    // font-size: clamp(18px, 5vw, 22px);
    font-weight: 500;
    line-height: 30px;

  }

  &:hover {
    color: var(--secondary-30);
  }

  &.btn {
    background: var(--primary-90);
    // margin-left: 1rem;
  }
}

.cta-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1.5rem;

  >.btn {
    font-size: clamp(18px, 5vw, 1.375rem);
    font-size: 18px;
  }
}