@use "./config";

// Next: pull in design tokens
// @use './honeycomb' as *;

// Pull in Modern reset
@use "./reset";

// Base global styles
@use "./base";

// Utilities
@use "./utilities";
// @use './utilities/grid-overlay';
// @use './utilities/wrapper';

// Blocks
// @use './components'as *;
@use "./blocks";

// -------------- Flow Utility
// parent controls layout
// .gg-parent > .g-parent > .parent > .child
/*
component level
dedicated spacing component level
parent level

Examples:
Current:
.parent>*+* {
  margin-top: 1rem;
}
New:
.parent {
  display: grid;
  gap: 1rem;
}

*/
